name: Release
on:
  push:
    branches:
      - "main"
      - "1.x"
      - "beta"
      - "alpha"

permissions:
  contents: read

jobs:
  dependency-check:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v5.0.0
        with:
          persist-credentials: false
      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
      - name: Checking dependencies for disallowed licenses
        uses: ./.github/actions/license-check
      - name: Checking production dependencies for security issues
        run: pnpm audit --prod
  release:
    name: Release
    runs-on: ubuntu-24.04
    needs: [dependency-check]
    permissions:
      contents: write # necessary to publish a GitHub release
      issues: write # necessary to comment on released issues
      pull-requests: write # necessary to comment on released pull requests
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # pin@v5.0.0
        with:
          fetch-depth: 0
      - name: Install dependencies
        uses: ./.github/actions/install-dependencies
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm semantic-release
